*{
	margin:0%;
	padding:0%;
}
body {
     background:#f8f8f8;
 }

 .book-library {
	 width:550px;
	 margin:20px;
	 background:#ffffff;
	 box-shadow:2px 4px 8px rgba(0, 1, 1,0.2);
 }
.book-library>h1{
	font-size:20px;
	text-align:center;
}
.book{
	width:auto;
	margin-top:10px;
}
.book>img{
	height:150px;
	margin-inline:220px;
    padding:10px;
}
.details{
	padding:10px;
}
.details>h2{
	font-size:20px;
}
.details>p{
	color:#777777;
	font-size:15px;
}
.details>button{
	width:100%;
	color:white;
	background:rgb(46, 204, 113);
	border:none;
	border-radius:3px;
	padding:5px;
}