/*  your css code here. If applicable */
body {
    background-color:#f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
.book-library{
	background-color: #ffffff;
	text-align:center;
}
#btn{
	background-color:#2ecc71;
	width:100%;
	color:white;
}
.author{
	color:#777777;
}
.left{
	text-align:left;
}

 