/*  your css code here. If applicable */


body {
    background-color:#f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.div{
	text-align:left;
}

  .book-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#ffffff;
    padding: 0px;
  }

  .book {
    width: 250px;
    margin: 20px;
    padding: 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .book img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }

  .book h2 {
    margin: 0;
    font-size: 18px;
  }

  .book p {
    margin: 5px 0;
    color: #777777;
  }

  .price-block {
    background-color: #2ecc71;
	width:100%;
    color:white; 
    border-radius: 5px;
    display: inline-block;
  }